<div class="statusFail">
	<p>NOTICE: After NAR has retired an ad campaign or related images and those materials have been removed from the ad generator, your license to use the images displayed therein is terminated. NAR may publish advance notice of ad campaign or image rights termination in the AE INS, but it is ultimately your responsibility to ensure that your rights in the materials you create using the ad generator are current.</p>
</div>
<div id="Home">
	<div class="left column1">
    	<div class="content">
            <div class="img"><a href="{$smarty.const.PRINT_URL}"><img src="/content/images/img_home1.png" alt="Select Print" border="0" /></a></div>
            <div class="contentCopy">
            	<div class="copy">
                    <strong>Create custom advertising materials in a few easy steps.</strong>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    	<tr>
                        	<td height="5"></td>
                            <td></td>
                        </tr>
                        <tr>
                        	<td width="15"><img src="/content/images/bullet.gif" /></td>
                            <td>Select the message.</td>
                        </tr>
                        <tr>
                        	<td width="12"><img src="/content/images/bullet.gif" /></td>
                            <td>Select size format.</td>
                        </tr>
                        <tr>
                        	<td><img src="/content/images/bullet.gif" /></td>
                            <td>Select image and copy.</td>
                        </tr>
                        <tr>
                        	<td><img src="/content/images/bullet.gif" /></td>
                            <td>Output high or low resolution PDFs.</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="link">
            <div><a href="{$smarty.const.PRINT_URL}"><img src="/content/images/bttnSelectPrint.gif" alt="Select Print" border="0" /></a></div>
        </div>
    </div>
	<div class="left column2">
    	<div class="content">
            <div class="img"><a href="{$smarty.const.BROADCAST_URL}"><img src="/content/images/img_home2.png" alt="Select Broadcast" border="0" /></a></div>
            <div class="contentCopy">
            	<div class="copy">
                    <strong>Preview TV and radio spots, then add to your cart to purchase.</strong>
                    <p>Materials are organized by target audience.</p>
                </div>
            </div>
        </div>
        <div class="link">
            <div><a href="{$smarty.const.BROADCAST_URL}"><img src="/content/images/bttnSelectBroadcast.gif" alt="Select Broadcast" border="0" /></a></div>
        </div>
    </div>
	<div class="left column3">
    	<div class="content">
            <div class="img"><a href="{$smarty.const.ONLINE_URL}"><img src="/content/images/img_home3.png" alt="Select Online" border="0" /></a></div>
            <div class="contentCopy">
            	<div class="copy">
                    <strong>Select animated Web banners and email signature images. </strong>
                    <p>Preview your selections and then download a ZIP file to send to your vendors. </p>
                </div>
            </div>
        </div>
        <div class="link">
            <div><a href="{$smarty.const.ONLINE_URL}"><img src="/content/images/bttnSelectOnline.gif" alt="Select Online" border="0" /></a></div>
		</div>
    </div>
</div>
{*
<div>
	<h1>Approved Custom Pdf</h1>
    <p>
    	PDF - Approved
    </p>
</div>
<div>
	<h1>News</h1>
{foreach from=$newsData item=data}
	<h2>New for {$data.date}</h2>
	<p><strong>{$data.title}</strong><br>{$data.content}</p>
{/foreach}
</div>
*}