{literal}
<style>
.info{ background-color:#0f5a9d; margin:0 10px; padding:20px 60px; }
.info p { color:#6db3f1; font-size:14px; };
</style>
{/literal}
<div class="center" style="width:897px;">
  <div style="padding-bottom:20px;"><img src="/content/images/mobile_img.jpg"></div>
  <div class="info">
    <p>Welcome to the National Association of REALTORS<sup>®</sup> Ad Generator.</p>
    <p>The device you are using is currently unable to display the NAR Ad Generator website. The site uses Flash components. </p>
    <p>You may view/browse the advertising materials by going to <a href="http://realtor.org/awarenesscampaign" target="_blank" style="color:#6db3f1;">realtor.org/awarenesscampaign</a></p>
    <p>To create customized ad materials using the NAR Ad Generator, you will need to visit <a style="color:#6db3f1;" href="http://nartools.com/login.php">nartools.com/login.php</a> from a standard Flash-enabled browser. </p>
  </div>
</div>
