<div id="Print">
    <div id="Select">
        <div class="header">
          <div class="headerBg3">
            <div class="left">
                <h1>Print: <span>Choose a target or an audience and then customize a print ad to reach them.</span></h1>
            </div>
            <div align="right">&nbsp;</div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="img">
            <img src="/content/images/img_print.jpg" />
        </div>
{include file="`$smarty.const.THEME_URL`select.html"}
    	<div class="clear"></div>
	</div>
</div>