<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
  <title>Index of /templates</title>
 </head>
 <body>
<h1>Index of /templates</h1>
<pre>      <a href="?C=N;O=D">Name</a>                    <a href="?C=M;O=A">Last modified</a>      <a href="?C=S;O=A">Size</a>  <a href="?C=D;O=A">Description</a><hr>      <a href="/">Parent Directory</a>                             -   
      <a href="ad_generator/">ad_generator/</a>           09-Feb-2016 10:28    -   
      <a href="bare_bone/">bare_bone/</a>              25-Mar-2015 18:20    -   
      <a href="common/">common/</a>                 25-Mar-2015 18:20    -   
<hr></pre>
</body></html>
